<!DOCTYPE html>
<html>

<head>
    <title>Audit Log</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">
        <h2>Audit Log</h2>

        <table>
            <tr>
                <th>Time</th>
                <th>User</th>
                <th>Action</th>
                <th>Item</th>
            </tr>

            {% for log in logs %}
            <tr>
                <td>{{ log['timestamp'] }}</td>
                <td>{{ log['user'] }}</td>
                <td>{{ log['action'] }}</td>
                <td>{{ log['item_name'] }}</td>
            </tr>
            {% endfor %}
        </table>

        <a class="btn btn-back" href="/">Back</a>
    </div>

</body>

</html>